{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
   Audition - list
{% endblock title %}
{% block content %}
   <section class="h-full w-full mx-auto mt-12">
      <h6 class="text-center underline-offset-4 underline">Our Auditions</h6>
      <div class="mt-12 grid grid-cols-4 gap-x-8">
         {% for audition in audition_list %}
            <div class="relative text-center h-full hover:brightness-90 hover:shadow-lg shadow-secondary-500 cursor-pointer transition-all duration-500">
               <img src="{{ audition.poster.url }}" class="object-cover h-fit ">
               <a href="{% url "audition:audition-detail" audition.id %}"
                  class="absolute inset-0"></a>
            </div>
         {% endfor %}
      </div>
   </section>
{% endblock content %}
