{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
   Audition - list
{% endblock title %}
{% block content %}
   <section class="h-full w-full mx-auto mt-12">
      <h4 class="text-center font-black underline-offset-4 underline">Our Auditions</h4>
      <div class="mt-12 grid grid-cols-3 gap-12">
         {% for audition in audition_list %}
            <div class="flex flex-col gap-y-4">
               <div class="relative text-center h-full hover:brightness-95 hover:shadow-lg shadow-secondary-500 cursor-pointer transition-all duration-500">
                  <img src="{{ audition.poster.url }}" class="object-cover h-full">
               <a href="{% url "audition:audition-detail" audition.id %}"
                  class="absolute inset-0"></a>
            </div>
         {% endfor %}
      </div>
   </section>
{% endblock content %}
