{% load tailwind_field %}
{% if field.is_hidden %}
   {{ field }}
{% else %}
   {# Opening Div and Label first #}
   <div class="flex flex-col w-full">
      {% if field.label and form_show_labels %}
         <label for="{{ field.id_for_label }}"
                class="{% if label_class %}{{ label_class }}{% endif %}">
            {{ field.label|safe }}
            {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
         </label>
      {% endif %}
      <div id="div_{{ field.auto_id }}"
           class=" {% if wrapper_class %}{{ wrapper_class }}{% endif %} {% if field_class %} {{ field_class }} {% else %} space-y-2 {% endif %} relative">
         {# otherwise use django rendering with additional classes added #}
         <input id="id_{{ field.name }}"
                name="{{ field.name }}"
                type="file"
                class="input-primary text-base block file:bg-primary-700 file:text-white file:px-4 file:py-2 file:me-4 w-full border border-gray-300 rounded-lg dark:text-gray-400 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400">
         {% include 'tailwind/layout/help_text_and_errors.html' %}
      </div>
   </div>
{% endif %}
