{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/project.css" %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block header %}{% endblock header %}
  </head>
  <body class="bg-secondary-100">
    {% include "components/navbar.html" %}
    {% block content %}{% endblock content %} 
    {% block javascript %}{% endblock javascript %}
    <script src="{% static "js/flowbite.min.js" %}"></script>
  </body>
</html>
